body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #EAEAEA;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 3px;
  /* border-top: solid black 1px; */
}

@media screen and (min-width: 600px) {
  .split-media-container {
    display: grid;
    grid-gap: 10px;
    padding: 3px;
  }
  
  .department-container.small {
    min-width: 370px;
    max-width: 420px;
  }
}

@media screen and (max-width: 599px) {
  .split-media-container {
    /* display: grid;
    grid-gap: 10px; */
    padding: 3px;
  }

  .department-container.small {
    min-width: 250px;
    max-width: 280px;
  }
}

.icon {
  width: 16px;
  height: 16px;
}

tr:nth-child(even) {
  background-color: rgb(230, 230, 230);
}

.specifics-container {
  padding: 5px;
}

.person-container {
  padding: 5px 5px 0px 5px;
}

.person-container.selected {
  border: solid #3797DE 5px;
}

.members-container > div:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}

.department-container {
  margin: auto;
  margin-top: 10px; 
}

.department-container-header {
  padding: 5px;
}

@media screen and (min-width: 420px) {

}

@media screen and (max-width: 419px) {

}

.department-container.large {
  width: 700px;
}

.department-content {
  border: 1px solid black;
}

.department-header {
  background-color: #3797DE;
  padding: 5px;
}

.department-header-title > span {
  font-weight: bold;
}

.department-header-content > label {
  font-size: smaller;
}

.search-container > div {
  /* height: 30px; */
}